/* -- font import from Google Fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');

/* -- foundational stylings -- */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: blanchedalmond;
    background-color: black;
}

/* -- headings, logo and paragraphs styling -- */
h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: bisque;
}

p {
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    color: blanchedalmond;
}

/* centers the header and uses 'flex' as instructed in grades for previous project */
header {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 120%;
    min-height: 8vh;
}

/* inherits the colour to get rid of purple underline and removes all text decoration */
header a {
    color: inherit;
    text-decoration: none;
}

/* -- background images styling -- */

/* loads the background image from path and stretches it across the screen
 aligns the image to the center of the page and sets the min height to 90% of viewport */
.bckg-index {
    background: url(../backgrounds/bckg-index2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
  }

/* follows the same principle but changes the photo to better fit a phone screen */
@media (max-width: 700px){
    .bckg-index {
        background: url(../backgrounds/bckg-index.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 90vh;
    }
}

/* -- footer styling -- */
footer {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 80%;
    min-height: 6vh;
}